.conatiner{
    width: 70%;
    margin:auto;
    text-align: center;
}
.dice{
    text-align: center;
    display:inline-block;
}
body{
    background-color:palevioletred;
}
h1{
    margin: 30px;
    font-family: 'Lobster',cursive;
    text-shadow:5px 0 black;
    font-size: 8rem;
    color:aquamarine;

}
p {
    font-size: 2rem;
    color: rgb(1, 5, 10);
    font-family: 'Indie Flower', cursive;
  }
  
img {
    width: 75%;
  }
  
footer {
    margin-top: 5%;
    color:rgb(225, 255, 0);
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }